@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  /*display: flex;*/
  min-width: 320px;
  position: relative;
  /* importante para background funcionar */
  overflow-x: hidden;
  /*desativa o scroll na horizontal*/
  /*overflow-y: hidden;*/
  /*desativa o scroll na vertical*/
  z-index: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Inicio da minha personalização */

@layer utilities {
  .animate-gradient {
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

/*cards principais de cada aba (Home, Contact etc)*/
.left-cards {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

html,
body,
#root {
  min-height: 100dvh;
}

/* Terminal CSS */
.terminal {
  background-color: #000;
  color: #00ff00;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: #00ff00;
  margin-left: 3px;
  animation: blink 0.8s infinite step-end;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}